/* https://catppuccin.com/palette/ */
body {
	padding: 0rem;
	margin: 0rem;
	background-color: #24273a;
	color: #cad3f5;
	/* From bootstrap */
	font-family:
		system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav,
header,
footer,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

h1:not(header h1),
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0rem;
	line-height: 120%;
}

main,
header,
footer,
nav:not(header nav) {
	width: 100%;
	max-width: 36rem;
	line-height: 150%;
}

main,
footer {
	margin: 2.5rem auto;
}

img {
	max-width: 100%;
}

header {
	display: flex;
	margin: 0 auto;
	padding-top: 2.5rem;
}

header h1 {
	font-family: "Share Tech Mono", monospace;
	font-size: 1rem;
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	background-color: #181926;
	color: #cad3f5;
}

main {
	margin: 2.5rem auto 2.5rem auto;
}

main p {
	margin: 1rem 0;
}

a {
	text-decoration: underline;
	color: #8aadf4;
}

a:hover {
	color: #f5bde6;
}

html {
	font-size: 18px;
}

@media (max-width: 768px) {
	body {
		padding: 1rem;
	}

	header {
		margin: 0;
		padding: 0;
	}
}
